<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnsoft.module.pms.mapper.PmsMapper">
	<sql id="visit">
		REQUESTPATH, STARTTIME, IPHOST,
		ENDTIME, REQUESTCOUNT,
		EXECUTETIME,STATUS
	</sql>
	<select id="mapperQueryAllById" parameterType="map" resultType="map">
		<foreach collection="params" index="key" item="value"
			separator="," open="(" close=")">
			select * from ${key}
			<where>
				<if test="value!=null and value!=''">
					OBJ_ID=#{value}
				</if>
			</where>
		</foreach>
	</select>
	<!-- <select id="convertMapperQueryAllById" parameterType="map"
		resultType="String">
		<foreach collection="params" index="key" item="value"
			separator="," open="(" close=")">
			select * from ${key}
			<where>
				<if test="value!=null and value!=''">
					OBJ_ID=#{value}
				</if>
			</where>
		</foreach>
	</select> -->
	<select id="mapperQueryAll" parameterType="map" resultType="map">
		<foreach collection="params" index="key" item="value"
			separator="," open="(" close=")">
			select * from ${key}
		</foreach>
	</select>
	<insert id="insertPmsVisit" parameterType="map">
		insert into PMSVISIT
		(REQUESTPATH, STARTTIME, IPHOST,
		ENDTIME, REQUESTCOUNT,
		EXECUTETIME,STATUS)
		values
		(#{params.requestPath,jdbcType=VARCHAR},
		#{params.startTime},
		#{params.ipHost,jdbcType=VARCHAR},
		#{params.endTime},
		#{params.requestCount,jdbcType=DECIMAL},
		#{params.executeTime,jdbcType=LONGVARCHAR},
		#{params.status,jdbcType=DECIMAL})
	</insert>
	<select id="queryPmsVisitAll" resultType="com.lnsoft.module.pms.pojo.Pmsvisit">
		select
		<include refid="visit" />
		from PMSVISIT
	</select>

	<insert id="insertPmsInVisit" parameterType="map">
		insert into
		PMSINVISIT
		(REQUESTPATH, STARTTIME, IPHOST,
		ENDTIME, REQUESTCOUNT,
		EXECUTETIME,STATUS)
		values
		(#{params.requestPath,jdbcType=VARCHAR},
		#{params.startTime},
		#{params.ipHost,jdbcType=VARCHAR},
		#{params.endTime},
		#{params.requestCount,jdbcType=DECIMAL},
		#{params.executeTime,jdbcType=LONGVARCHAR},
		#{params.status,jdbcType=DECIMAL})
	</insert>
	<select id="queryPmsInVisitAll" resultType="com.lnsoft.module.pms.pojo.Pmsinvisit">
		select
		<include refid="visit" />
		from PMSINVISIT
	</select>
	<select id="queryCountByPMS" resultType="int">
		select count(*) from
		pmsvisit
	</select>
</mapper>